* {
    box-sizing: border-box;
    font-family:"JetBrains Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 1.2rem;
    padding: 8px 12px;
    text-align: center;
}

button {
    font-size: 1.2rem;
    padding: 8px 25px;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="font-size:24px"><text y="24">✨</text></svg>'), auto;
}

.switches{
    max-width: 80%;
    height: auto;
}

#tajemna_komnata{
    width: 100px;
    height: 100px;

    position:absolute;
    bottom: 100px;
    right: 100px;
    cursor:help;
    background-color: transparent;
    border: none;
    z-index: 10;
}

#code{  
    display: none;
    font-size: 24px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding:10px;
    position:absolute;
    bottom: 100px;
    right: 50px;
}

#tajemna_komnata2{
    width: 100px;
    height: 100px;

    position:absolute;
    bottom: 100px;
    left: 100px;
    cursor:help;
    background-color: transparent;
    border: none;
    z-index: 10;
}

#code2{  
    display: none;
    font-size: 24px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding:10px;
    position:absolute;
    bottom: 100px;
    left: 50px;
}

.galerie{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galerie img{
    width: 22%;
    height: auto;
    max-width: 200px;
}

.karta {
    flex: 1 ;
    min-width: 200px;
    padding: 15px;
    text-align: center;
}